html
    head
        title Eve Commerce
        link(rel="stylesheet", href="/css/main.css")

.grid-container
    .nav
    .menu
        img(src=portraits.px128x128)
        p #{characterInfo.name}
        p #{corporationInfo.name}
            img(src=icons.px64x64)
    .main
        for each item in blueprints
            p #{item.name}